{{ define "main" }}

{{/* partial "breadcrumbs.html" . */}}
{{/* partial "page-header.html" . */}}

{{ $pages := .Pages }}
{{ $yesterday := (now.AddDate 0 0 -1).Unix }}
{{ $pages = where $pages "Section" "in" "events" }}

<section class="section">
  <div class="container">
    <div class="row">
      {{ range (where $pages ".Date.Unix" ">=" $yesterday).Reverse }}
      <div class="col-12 mb-5 pb-5">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }}>
              <img src="{{ .Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded-lg w-100">
            </a>
          </div>
          <div class="col-md-6">
            <h2><a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }} class="post-title">{{ .Title }}</a></h2>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }} class="btn btn-primary">Open Event</a>
          </div>
        </div>
      </div>
      {{ else }}
      <div class="col-md-12 text-center mb-4">
        Planned <a href="../about/contact/">Want to host one?</a>
      </div>
      {{ end }}

      <div class="container text-center pb-4 mb-4">
        <h3 class="display-4">Previous Community Calls</h3>
        {{ $now := now }}
        <ul class="event-list">
          {{ range sort .Site.RegularPages "Date" "desc" }}
            {{ if and (eq .Section "events") (ne .File.Path "events/past.md") (ne .File.Path "events/upcoming.md") }}
              {{ if or (and (eq (.Get "filter") "past") (lt .Date $now)) (and (eq (.Get "filter") "upcoming") (ge .Date $now)) }}
                <li>
                  <a href="{{ .Params.redirect | default .RelPermalink }}">
                    {{ if .Params.image }}
                      <img src="{{ .Params.image }}" alt="{{ .Title }}" style="max-width: 200px;" />
                    {{ end }}
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Date.Format "January 2, 2006" }}</p>
                  </a>
                </li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
        
